.footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .contact {
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      padding-top: 1px;
      margin-right: 4px;
    }
  }
}
