.group-switcher {
  position: absolute;
  background-color: var(--secondary-color-light);
  color: var(--secondary-color-font-dark);
  width: 150px;
  left: 10px;
  top: 0;
  box-shadow: 0px 3px 4px var(--secondary-color);
  display: none;
  flex-direction: column;
  padding: 0.2rem;
  z-index: 1;

  &.active {
    display: flex;
  }

  & > div {
    padding: 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    i {
      font-size: 18px;
      margin-right: 0.4rem;
      visibility: hidden;
    }

    &:hover,
    &.active {
      background-color: var(--background-color);
      i {
        visibility: visible;
      }
    }
  }

  & > div + div {
    margin-top: 0.1rem;
  }
}
