.alert {
  position: absolute;
  top: 0;
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
  color: black;
  transition: all 0.5s 0.5s;
  right: -100%;
}

.alert .alert-content {
  padding: 1rem 2.25rem 1rem 1.25rem;
}

.alert .alert-content p {
  margin: 0;
}

.alert-wrapper {
  position: relative;
  max-height: 0;
  transition: max-height 0.5s, margin-right 0.5s 0.5s;
  margin-right: 0;
}

.alert-wrapper.is-closed {
  display: none;
}

.alert-wrapper.is-shown {
  max-height: 100vh;
  margin-right: 8px;
}

.alert-wrapper.is-shown .alert {
  right: 0;
}

.alert .delete {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  vertical-align: top;
  width: 20px;
}

.alert .delete::before {
  height: 2px;
  width: 50%;
}

.alert .delete::after {
  height: 50%;
  width: 2px;
}

.alert .delete::after,
.alert .delete::before {
  background-color: #fff;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.alert.is-primary {
  background-color: var(--primary-color-light);
  color: var(--primary-color-font);
}

.alert.is-info {
  background-color: var(--info-color);
  color: white;
}

.alert.is-success {
  background-color: var(--success-color);
  color: white;
}

.alert.is-warning {
  background-color: var(--warning-color);
  color: white;
}

.alert.is-error {
  background-color: var(--error-color);
  color: white;
}
