.action-menu {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.action-menu .back-btn,
.action-menu .actions {
  flex: 1;
}

.action-menu .actions {
  display: flex;
  justify-content: flex-end;
}

.action-menu .actions > div + div {
  margin-left: 0.5rem;
}

.action-menu .actions .dropdown-content {
  text-transform: capitalize;
}
