.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1.5rem;
}

.history .toggler {
  display: flex;
  justify-content: center;
  position: relative;
  font-variant: small-caps;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.history .toggler.down:hover {
  border-bottom-color: var(--primary-color);
}

.history .toggler.up:hover {
  border-top-color: var(--primary-color);
}

.history .toggler .arrow {
  position: absolute;
  border: 1px solid var(--primary-color);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.history .toggler.down .arrow {
  top: 12px;
  border-top-color: transparent;
  border-left-color: transparent;
}

.history .toggler.up .arrow {
  top: -6px;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.history .toggler:hover .arrow {
  width: 0px;
  height: 0px;
  border-width: 5.5px;
}

.history .toggler.down:hover .arrow {
  top: 11px;
}

.history .actions {
  display: flex;
  flex-flow: column-reverse;
}

.history .history-action {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.history .history-action div {
  padding: 0.3rem;
}
