.input {
  border: 1px solid var(--secondary-color);
  background: #fff;
  color: #000;
  padding: 1px 1rem 1px 0.5rem;
  display: flex;
  align-items: center;
}

.input.disabled {
  background-color: rgba(0, 0, 0, 0.02);
}

.input.disabled input {
  background-color: rgba(0, 0, 0, 0);
}

.input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.input:focus-within {
  border: 1px solid var(--primary-color);
}

.input input {
  outline: none;
  border: 0;
  flex: 1;
  margin-left: 0.2rem;
  height: 2.7em;
  line-height: 2.7em;
}

.input.small input {
  height: 27px;
  line-height: 27px;
}

.input:focus-within input::placeholder {
  color: transparent;
}

.input .input-icon {
  display: flex;
  align-items: center;
  color: var(--secondary-color-dark);
}

.input:focus-within .input-icon {
  color: var(--primary-color);
}

.input .limit {
  font-size: var(--small-font-size);
  color: var(--secondary-color-dark);
}

.input .close {
  color: var(--primary-color-light);
  cursor: pointer;
}

.markdown-editor {
  width: 100%;
}
