.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);

  padding: 0.7rem 1rem;
  border-radius: 3px;

  border: 1px solid transparent;
  outline: 0;

  cursor: pointer;
}

.btn > i {
  font-size: 1.1rem;
}

.btn > i + span {
  margin-left: 0.3rem;
}

.btn[primary] {
  color: var(--primary-color-font);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn[primary]:not([active]):hover,
.dropdown:hover .btn[primary]:not([active]) {
  background-color: var(--primary-color-light);
  border-color: var(--primary-color-light);
}

.navbar .btn[primary]:not([active]):hover,
.navbar .dropdown:hover .btn[primary]:not([active]) {
  background-color: var(--background-color); 
}

.navbar .btn[primary] {
  background-color: var(--primary-color-font);
  color: var(--primary-color);
}

.btn[secondary] {
  color: var(--secondary-color-font);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn[secondary]:hover,
.dropdown:hover .btn[secondary] {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.btn[round] {
  border-radius: 25px;
  padding: 0.7rem;
}

.btn[round] > i {
  font-size: 1.5rem;
}

.btn[link] {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-color);
  padding: 0.4rem 0.7rem;
}

.btn[link]:hover,
.dropdown:hover .btn[link] {
  background-color: var(--primary-color-light);
  color: var(--primary-color-font);
  font-weight: normal;
}

.btn[disabled] {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondary-color);
  cursor: initial;
}

.btn[disabled]:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondary-color);
}

.btn[disabled]:active {
  top: 0px;
}

.btn[raised][link]:not([disabled]):hover:not(:active),
.btn[raised]:not([disabled]):not([active]):not([link]):not(:active) {
  box-shadow: 0px 2px LightGrey;
}

.btn[raised]:not([fixed]):not([disabled]):not([active]):active {
  box-shadow: none;
  top: 1px;
}

.btn[raised][fixed]:active {
  box-shadow: none;
  margin-bottom: -1px;
}