.emoji-picker-wrapper {
  & > span {
    text-align: left;
    cursor: pointer;
    height: 22px;
    margin: 0;
    border: none;
    background: none;
    color: #242729;
  }

  .emoji-picker {
    position: fixed;
    z-index: 10;
    margin-top: 14px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;

    .emoji-mart {
      max-width: 100vw;
    }
  }

  .emoji-mart-anchor {
    height: auto !important;
    padding: 12px 4px !important;
  }

  .emoji-mart-search-icon {
    height: auto !important;
    padding: 0px 5px !important;
  }

  .emoji-mart-emoji {
    height: auto !important;
    padding: 6px !important;

    span {
      cursor: pointer;
    }
  }
}

[data-name='emoji'] {
  -webkit-appearance: initial !important;
  padding: 4px;
}
