.list .list-items {
  padding: 0.6rem;
  width: auto;
  display: inline-flex;
}

.list .list-items > * + * {
  margin-left: 0.3rem;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  /* --mobile-breakpoint */
  .list .list-items {
    flex-direction: column;
  }

  .list .list-items > * + * {
    margin-left: 0;
    margin-top: 0.3rem;
  }
}

.list .list-item {
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.list .list-item .material-icons {
  margin-right: 0.5rem;
}

.list .list-item:hover {
  background-color: var(--secondary-color);
}
