.tagpicker {
  border-top: 1px dashed var(--secondary-color);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.tagpicker h3 {
  color: var(--primary-color);
  padding-bottom: 0.1rem;
}

.tagpicker .tags-list {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
  flex-wrap: wrap;
}

.tagpicker .tag {
  background-color: var(--primary-color-light);
  color: var(--primary-color-font);
  line-height: 0.8rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 3px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
  margin-right: 0.4rem;
}

.tagpicker .tag .material-icons {
  font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: -0.2rem;
  cursor: pointer;
}

.tagpicker .tag .material-icons:hover {
  font-weight: bolder;
}

.tagpicker .btn i {
  font-size: 1.4rem;
}

.tagpicker .picker-wrapper {
  position: relative;
  margin-right: 170px;
}

.tagpicker .picker {
  position: absolute;
  border: 1px solid var(--secondary-color-dark);
  background-color: white;
  top: -10px;
  right: -180px;
  width: 170px;
  height: 240px;
  border-radius: 3px;
  padding: 0.1rem 0;
  z-index: 10;
}

.tagpicker .picker::after,
.tagpicker .picker::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.tagpicker .picker::after {
  top: 11px;
  border-color: transparent white transparent transparent;
  border-width: 10px;
  left: -19px;
}

.tagpicker .picker::before {
  top: 10.75px;
  border-color: transparent var(--secondary-color-dark) transparent transparent;
  border-width: 10.5px;
  left: -22px;
}

.tagpicker .picker-body {
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.tagpicker .picker .category + .category {
  margin-top: 0.25rem;
  border-top: 1px dashed var(--secondary-color-dark);
  padding-top: 0.25rem;
}

.tagpicker .picker .category-name {
  font-weight: bold;
}

.tagpicker .picker .category-item {
  padding: 0.1rem 0.3rem 0.3rem 0.3rem;
  cursor: pointer;
  font-variant: small-caps;
}

.tagpicker .picker .category-item:not([disabled]):hover {
  background-color: var(--secondary-color);
  color: var(--secondary-color-font);
}

.tagpicker .picker .category-item[disabled] {
  cursor: initial;
}

.tagpicker .picker .category-item[disabled]::before {
  content: '✓';
  margin-right: 0.2rem;
}
