.hide {
  display: none;
}

.grow {
  flex-grow: 1;
}

.row-on-mobile {
  display: flex;
}

.centered {
  text-align: center;
}

@media screen and (max-width: 480px) {
  /* --mobile-breakpoint */
  .row-on-mobile {
    flex-direction: column;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
