.hide {
  display: none;
}

.grow {
  flex-grow: 1;
}

.row-on-mobile {
  display: flex;
}

@media screen and (max-width: 480px) {
  /* --mobile-breakpoint */
  .row-on-mobile {
    flex-direction: column;
  }
}
