.pair-input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pair-input .pair-input-inputs {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 0.5rem;
}

.pair-input .pair-input-key {
  width: 40%;
  margin-right: 0.5rem;
}

.pair-input .pair-input-value {
  flex: 1;
}

.pair-input:focus-within > .material-icons {
  color: var(--primary-color);
}

.pair-input .input input {
  height: 27px;
  line-height: 27px;
  min-width: 0;
}

@media screen and (max-width: 480px) {
  /* --mobile-breakpoint */
  .pair-input .pair-input-inputs {
    flex-direction: column;
  }

  .pair-input .pair-input-inputs .input {
    width: 100%;
  }

  .pair-input .pair-input-key {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
