{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "globals": {
    "fetch": false
  },
  "extends": ["standard", "prettier", "prettier/standard"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ]
  }
}
