{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["standard", "prettier", "plugin:playwright/playwright-test"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "playwright/no-wait-for-timeout": "off"
  }
}
