.Searchbar {
  width: 40%;
	height: 3rem;
	margin: auto;
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  transform: translateX(-20px);
}

.Searchbar .search {
  width: 100%;
  position: relative
}

.Searchbar .search i {
	line-height: 1.4;
}

.Searchbar .searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.Searchbar .searchTerm:focus{
  color: #00B4CC;
}

.Searchbar .searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Source: https://codepen.io/huange/pen/rbqsD */
