.tabs {
  .tabs-list {
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    ul {
      align-items: center;
      border-bottom-color: #dbdbdb;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: center;
      margin: 0;

      a {
        text-decoration: none !important;

        li {
          display: block;

          span {
            cursor: pointer;
            text-decoration: none !important;
            align-items: center;
            color: #4a4a4a;
            display: flex;
            justify-content: center;
            margin-bottom: -1px;
            padding: 0.5em 1em;
            vertical-align: top;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;

            &:hover {
              color: #363636;
              background-color: #f5f5f5;
              border-bottom-color: #dbdbdb;
            }
          }
        }

        &.active {
          span {
            background-color: #fff;
            border-color: #dbdbdb;
            border-bottom-color: transparent !important;
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .tabs-items {
    .tab {
      padding: 1rem;
      border: 1px solid #dbdbdb;
      border-top: 0;
      display: block;
    }
  }
}
