.logs .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logs .action + .action {
  border-top: 1px solid grey;
}

.logs .action .left,
.logs .action .right {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logs .action .right {
  min-width: 185px;
  text-align: right;
}
