.specialty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.3rem;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.specialty .material-icons {
  margin-right: 10px;
  font-size: 1rem;
}

.emptyText {
  text-align: center;
}
