.usersList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 0.5rem;
  list-style-type: none;
}

.usersList .userElement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userInfo .userName {
  font-weight: bold;
}

.userInfo .userEmail {
  font-size: var(--small-font-size);
}
