.dropServices {
  margin: 1rem 0;
  border: 1px solid var(--secondary-color-font);
  border-radius: 4px;
}

.dropServices .dropbtn {
  padding: 0.5rem 0.2rem;
}

.dropServices .dropdown-content {
  left: 0;
  top: 2rem;
  box-shadow: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.dropServices .dropdown-content a {
  text-decoration: none;
  text-transform: capitalize;
}

.filtersList {
  display: flex;
  gap: 1rem;
  padding-left: 0;
  list-style-type: none;
}

.filtersList li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-font);
  border-radius: 4px;
}

.filtersList li i {
  font-size: var(--small-font-size);
}

.filtersList li i:last-of-type {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filtersList li i:last-of-type:hover {
  color: var(--primary-color-font-dark);
}

.filtersList li span {
  text-transform: capitalize;
  font-weight: bold;
}

.usersList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 0.5rem;
  list-style-type: none;
}

.usersList .emptyUsers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usersList .userElement {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.userElement .userLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userLeft .userIcon i {
  font-size: 2rem;
}

.userLeft .userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userInfo .userName {
  font-weight: bold;
}

.userInfo .userEmail {
  font-size: var(--small-font-size);
}

.userRight .userAddSpecialities {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-font);
  border-radius: 4px;
}

.userAddSpecialities .dropdown-content {
  left: 0;
  top: 2rem;
  box-shadow: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.userAddSpecialities .dropdown-content a {
  text-decoration: none;
  text-transform: capitalize;
}
