.navbar {
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
}

.navbar .brand {
  display: flex;
  align-items: center;
  font-size: var(--h1-font-size);
  color: var(--primary-color-font);
}

.navbar .brand img {
  height: 23px;
  margin-right: 6px;
}

.navbar .navigation {
  display: flex;
  align-items: center;
}

.navbar .navigation > a {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  color: var(--primary-color-font);
}

.navbar .btn {
  margin-left: 20px;
}

.navbar .navigation > a:last-child {
  margin-right: 0;
}

.navbar .navigation > a svg {
  margin-right: 0rem;
  fill: var(--primary-color-font);
  height: 0.8rem !important;
}

@media all and (max-width: 480px) {
  .navbar .btn {
    display: none;
    margin-left: 0;
  }
}
