.hide {
  display: none;
}

.grow {
  flex-grow: 1;
}

.row-on-mobile {
  display: flex;
}

.centered {
  text-align: center;
}

.small-text {
  font-size: var(--small-font-size);
  color: var(--secondary-color-font-light);
}

@media screen and (max-width: 480px) {
  /* --mobile-breakpoint */
  .row-on-mobile {
    flex-direction: column;
  }
}
