.QuestionCard {
	margin-bottom: 1rem;
}

.QuestionCard blockquote {
	color: #666;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #eee solid;
}

.QuestionCard code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

/* Source: https://jsfiddle.net/zinoui/dB93J/ */

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
